@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
}

body,
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  cursor: url("./src/Assets/leaf.png"), auto; /* Corrected to absolute path */
}

.dropdown-icon {
  height: 16px;
  width: 16px;
  transition: transform 0.3s ease-in-out;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

@layer utilities {
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
